/* Sidebar.css */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 130px;
    background-color: #f7f6f6;
    padding: 20px;
    transition: transform 0.3s ease;
  }
  
  .collapsed {
    transform: translateX(-250px);
  }
  
  .toggle-btn {
    position: fixed;
    top: 620px;
    left: 12px; /* Adjusted left position */
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 999; /* Ensure it's above other elements */
  }

  
  